@import "mixins";


.nav-link{
    color: white;
    font-size: 18px;
}

.display-3{
    color: white;
}

.nav-link {
    white-space: nowrap;
}

.custom-nav-link {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px; 
   
}

.custom-h1 {
    margin-left: -25px; /* Cambia esto al margen negativo que quieras usar */
    background-color: black;
    padding: 25px;
}

/*
.socialmedia {
    height: 220px;
    width: 367.5px;
    
} */

.container-footer{
    display: flex;
    justify-content: space-between;
}

.card{
    color:aliceblue;
    margin-left: 25px;
    border-color: aliceblue;
}


.list-group-item{
    color: aliceblue;
}

.social{
    margin-right: 25px;
}

.menu-footer{
    background-color: black;
    
}

.modal-content{
    color: aliceblue;
    background-color: $color-dark;
}

.btn-custom{
    color: aliceblue;
    background-color: $boton;
}

.container-politica{
    border: solid 3px;
    border-color: aliceblue;
    color: aliceblue;
    
}

.container-aceptar{
    margin-top: 40px;
    margin-bottom: 40px;
}


.navbar{
    height:163px;
    background-size: cover;
}


.cabecera{
    margin:0px;
    padding: 0px;
    height:200px
}

.presentacion{
    color:aliceblue;
    margin-top: 25px;
}

@media (max-width: 1200px) {
    .navbar-nav .nav-link {
        color: white; 
        background-color: black;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    @include webmoz(animation, fadeIn (2s));
    
}

.carousel-claro{
    background-color: black;
}

.carousel-indicators-dark{
    color:black
}

.logos{
    background-color: black;
}