@import 'mixins';   


.success{
    color: $color-exito;
    background-color: darken($color: $color-exito, $amount: 25%);
    margin: 0;
}

.warning{
    color: $color-alerta;
    background-color: darken($color: $color-alerta, $amount: 25%);
    margin: 0;
}

.error{
    color: $color-error;
    background-color: darken($color: $color-error, $amount: 25%);
    margin: 0;
}

.normal{
    color: $color-normal;
    background-color: lighten($color: $color-normal, $amount: 50%);
    margin: 0;
}



p, span, h1, h2, h3, h4, h5, h6 {


    &.success {
      @extend .success;
      @include font-size;
      
    }
  
    &.warning {
      @extend .warning;
      @include font-size;

    }
  
    &.error {
      @extend .error;
      @include font-size;
    }
  
    &:not(.success):not(.warning):not(.error):not([class*='color-']) {
      @extend .normal;
      @include font-size;
    
    }
  }

  
p{
    justify-content: left;
}

@for $r from 0 through 10 {
  @for $g from 0 through 10 {
    @for $b from 0 through 10 {
      $r10: $r * 10;
      $g10: $g * 10;
      $b10: $b * 10;
      .color-#{$r10}-#{$g10}-#{$b10} {
        color: rgb($r10*1%, $g10*1%, $b10*1%);
        
       margin: 0;
      }
      .colorbg-#{$r10}-#{$g10}-#{$b10} {
        background-color: rgb($r10*1%, $g10*1%, $b10*1%);
       margin: 0;
      }
    }
  }
}

table{
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  td{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    
  }
}


img{
  width: 300px;
  border-radius: 45%;
 }

 @keyframes apply-grayscale {
  0% { filter: grayscale(0%); }
  50% { filter: grayscale(100%); }
  100% { filter: grayscale(0%); }
}

.grayscale{
  @include webmoz(animation, apply-grayscale (3s));
  width: 300px;
  border-radius: 45%;
  
}

@keyframes apply-blur {
  0% { filter: blur(0px); }
  50% { filter: blur(5px); }
  100% { filter: blur(0px); }
}


.blur{
  @include webmoz(animation, apply-blur (3s)); 
  width: 300px;
  border-radius: 45%;
}

@keyframes apply-sepia {
  0% { filter: sepia(0%); }
  50% { filter: sepia(100%); }
  100% { filter: sepia(0%); }
}

.sepia{
  @include webmoz(animation, apply-sepia (3s));
  width: 300px;
  border-radius: 45%;
}

@keyframes apply-huerotate {
  0% { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(90deg); }
  100% { filter: hue-rotate(0deg); }
}

.hue-rotate{
  @include webmoz(animation, apply-huerotate (3s));
  width: 300px;
  border-radius: 45%;
}

@keyframes apply-invert {
  0% { filter: invert(0%); }
  50% { filter: invert(100%); }
  100% { filter: invert(0%); }
}

.invert{
  @include webmoz(animation, apply-invert (3s));
  width: 300px;
  border-radius: 45%;
}

@keyframes apply-brightness {
  0% { filter: brightness(0); }
  50% { filter: brightness(0.25); }
  100% { filter: brightness(0); }
}

.brightness{
  @include webmoz(animation, apply-brightness (3s));
  width: 300px;
  border-radius: 45%;
}

@keyframes apply-contrast {
  0% { filter: contrast(100%); }
  50% { filter: contrast(200%); }
  100% { filter: contrast(100%); }
}

.contrast{
  @include webmoz(animation, apply-contrast (3s));
  width: 300px;
  border-radius: 45%;
}